<!--The content below is only a placeholder and can be replaced.-->
<div>
  
  <div class="language">{{ 'app.label' | translate }}</div>
  <div>
    <select #langSelect (change)="changeLang($event.target.value)" class="selectBtn">
          <option *ngFor="let lang of getLangs" [value]="lang.value">{{lang.label}}</option>
    </select>
</div>
  <!-- <a [routerLink]="['/home']" routerLinkActive = 'active'>home</a>
  <a [routerLink]="['/users']" routerLinkActive = 'active'>users</a> -->
  
 
 
  <router-outlet></router-outlet>
</div>

